*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --imagem: url('./img/passaro.jpg')
}

body{
    height: 100dvh;
    display: grid;
    place-content: center;
    gap: 10px;
    background-color:  antiquewhite;
}
.box-imagem{
    position: relative;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 16px #000;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-image: var(--imagem);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
    margin-left: 100px;
    
}
.container input{
    font-size: 2.5rem;
    text-align: center;
}
.container button{
    padding-block: 8px;
}
